@{
    ViewBag.Title = "License";
}

<h2>Index</h2>

<div>
        <fieldset>
            <legend>Request For License</legend>
            <table>
                <tr>
                    <td>@Html.ActionLink("Generate License Keys", "GenerateLicense","License")</td>
                </tr>
            </table>            
        </fieldset>
    </div>